.sobre-nos{
    text-align: center;
    padding: 6em 34em;
}

.sobre-nos__subtitulo{
    color: var(--vermelho);
    font-weight: 600;
}

.sobre-nos__titulo{
    font-size: 48px;
    font-weight: 600;
    padding: 1.5em 0;
}

.sobre-nos__texto{
    color: var(--cinza);
    font-size: 20px;
}